.post-one-div {
    height: 470px ;
    width: 250px ;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px ;
    margin-top: 10px ;
    margin-bottom: 0px ;
    text-align: left;
    background-color: rgb(231, 231, 231) ;
    padding: 10px ;
    border-radius: 5px ;
}
.post-one-title-div {
    font-weight: bold;
    font-size: 17px ;
    margin-bottom: 0px ;
}
.post-one-img-div {
    margin-bottom: 0px  ;
    margin-bottom: 0px ;
}
.post-one-img {
    margin-bottom: 0px ;
    height: 300px ;
    width: 250px ;
    object-fit: cover;
    object-position: center;
}
.post-one-title-div {
    margin-top: 0px ;
}
.post-one-title { 
    padding-left: 5px;
    margin-bottom: 0px ;
    margin-top: 3px ;
}

.post-one-staf-div {
    font-size: 14px ;
    color: grey ;
    margin-top: 0px ;

}
.post-one-author {
    font-weight: bold;
    margin-top: 2px ;
    padding-left: 5px  ;
    display: inline-block;
    margin-bottom: 0px ;
}
.post-one-view {
    margin-top: 2px ;
    padding-left : 8px ;
    display: inline-block;
    margin-bottom: 0px ;
}
.post-one-body {
    margin-top: 0px ;
    margin-left: 3px ;
    padding-top: 5px  ;
    font-size: 17px ;
}



.all-post-div {
    width: 94% ;
    margin-left: 3% ;
    margin-right: 3% ;
    border-radius: 10px ;
    background-color: gray ;
}
.post-one {
    width: 250px ;
    padding: 10px ;
    margin-left: 5% ;
    margin-right: 5% ;
    background-color: rgb(206, 206, 206);
    border-radius: 8px ;
    margin-bottom: 0px ;
    margin-top: 10px ;
    display: inline-block;
    margin-right: 5px ;
    margin-left: 10px ;
    margin-bottom: 10px ;
}
.img-one {
    height: 300px ;
    width: 250px ;
    border-radius: 8px ;
    object-fit: cover;
    object-fit: center;
}
.body-text {
    display: inline-block ;
    font-family: Arial;
}
.userprofile-div {
    width: 100% ;
}
.userprofile-one {
    width: 100px ;
    height: 100px;
    object-fit: cover;
    object-fit: center;
}
.title-one {
    color: black;
    font-size: 18px ;
    font-weight: bold;
    margin-bottom: 0px ;
    margin-top: 5px ;
    padding-left: 10px ;
}
.staff-one {
    color: gray ;
    font-size: 14px ;
    margin-top: 5px ;
    padding-left: 10px ;
    margin-bottom: 0px ;
    display: inline-block ;
}
.description-one {
    margin-top: 20px ;
    padding-left: 10px;
}
.one-author {
    margin-top: 3px ;
    display: inline-block;
    padding-left: 10px
}